#mainwrapper{
    width: 70%;
    margin: 75px auto;
}
#firstp{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
}
table{
    background-color: white;
    /* padding: 15px 50px; */
    
}